@model Mundrisoftassesment.Models.Users

@{
    ViewData["Title"] = "Login";
}

<h1>Login</h1>

<h4>User</h4>
<hr />
<div class="row">
    <div class="col-lg-6 offset-lg-3">
        <div class="form-control">
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
            <div class="form-group">
                <label asp-for="EmailId" class="control-label"></label>
                <input asp-for="EmailId" class="form-control" />
                <span asp-validation-for="EmailId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <input type="submit" value="Sign in" class="btn btn-primary" />
            </div>
        </form>
        </div>
        <div class="mb-4" style="color:red">
            @if (!string.IsNullOrEmpty(ViewBag.ErrorMsg))
            {
                @ViewBag.ErrorMsg
            }
        </div>
        <div><a class="forget" asp-area="" asp-controller="User" asp-action="ForgetPassword">Forget Password</a></div>
    </div>
</div>

@* <div>
    <a asp-action="Index">Back to List</a>
</div> *@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
