@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
﻿
@{
    ViewBag.Title = "Weather";
}


<h1>Search City and Get Weather Forecast</h1>

